# Python virtual environment
venv/
.venv/
env/
ENV/

# Environment secrets
.env

# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# Pytest / Cache
.pytest_cache/
.coverage
htmlcov/

# IDE files
.vscode/
.idea/
*.swp
